@charset 'UTF-8';

.custom-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor !important;
    * {
      fill: currentColor !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 65%;
  }
}
