@charset 'UTF-8';

html {
  font-size: 16px;
}

.custom-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor !important;
    * {
      fill: currentColor !important;
    }
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Montserrat' !important;
  font-size: 1.125rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.q-card--dark {
  box-shadow: none !important;
}

.form__toggle {
  background: $dark-field-bg;
}

.q-field__bottom {
  padding: 3px 0;
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 65%;
  }
}
