@charset 'UTF-8';

body.body--dark {
  .category-user {
    &__line {
      &:hover .inline-button {
        opacity: 1;
      }
      padding: 7px 10px;
      border-radius: 2px;
      &__date {
        font-size: 0.75rem;
        color: $gray;
      }
      &:hover {
        background-color: $dark-accent;
      }
    }
    &__total {
      padding: 7px 10px;
      border-radius: 2px;
      &-icon {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 700px) {
  body {
    &.body--dark {
      .category-user {
        &__line {
          padding: 7px 10px;
          &__date {
            font-size: 12px;
          }
        }
        &__total {
          font-size: 14px;
          &-icon {
            font-size: 20px;
          }
        }
      }
    }
  }
}
