@charset 'UTF-8';

body.body--dark {
  .operation {
    &:hover .inline-button {
      opacity: 1;
    }
    padding: 7px 10px;
    border-radius: 2px;
    &__date {
      font-size: 0.75rem;
      color: $gray;
    }
    &__category-icon {
      font-size: 35px;
    }
    &:hover {
      background-color: $dark-accent;
    }
    &__day {
      margin-bottom: 8px;
      padding: 8px;
      border-radius: 3px;
      &-title {
        padding: 10px 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  body {
    &.body--dark {
      .operation {
        padding: 7px;
        &__date {
          font-size: 12px;
        }
        &__amount {
          font-size: 14px;
        }
        &__category-name {
          font-size: 14px;
        }
        &__category-icon {
          font-size: 20px;
        }
        &__day {
          margin-bottom: 8px;
          padding: 8px;
          border-radius: 3px;
          &-title {
            padding: 10px 10px;
          }
        }
      }
    }
  }
}
