@charset 'UTF-8';

body.body--dark {
  .operation {
    &:hover .operation__button {
      opacity: 1;
    }
    &__button {
      background: $dark-field-bg;
      width: 26px;
      height: 26px;
      border-radius: 3px;
      margin: 3px;
      opacity: 0;
      &:hover {
        cursor: pointer;
        background: $gray;
      }
    }
    padding: 7px 10px;
    border-radius: 2px;
    &__date {
      font-size: 0.75rem;
      color: $gray;
    }
    &:hover {
      background-color: $dark-accent;
    }
  }
}
