@charset 'UTF-8';

body.body--dark {
  .overview {
    &__card {
      background: $dark;
      &-total {
        font-size: 30px;
        padding: 5px 16px;
      }
    }
    &__last-operation {
      background: $dark;
      padding: 10px 15px;
      border-radius: 4px;
    }
  }
}
