@charset 'UTF-8';

body.body--dark {
  .overview {
    &__card {
      &-total {
        font-size: 30px;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}

@media (max-width: 700px) {
  body {
    .overview {
      &__card {
        &-total {
          font-size: 17px !important;
          padding: 3px 0 !important;
        }
      }
    }
  }
}
