body.body--dark {
  .category-user {
    &__icon {
      position: relative;
      background: $dark-field-bg;
      height: 56px;
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      padding: 0 12px;
      &-text {
        position: absolute;
        left: 12px;
        top: 6px;
        color: #ffffffb3;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.00937em;
      }
      &:hover {
        background-color: $dark-accent;
        border-bottom: 1px solid #fff;
        transition: 0.46s;
      }
    }
  }
}
