@charset 'UTF-8';

@import 'registration';
@import 'login';
@import 'category-user';

body.body--dark {
  .login {
    &-form {
      background: $dark;
      width: 550px;
      padding: 60px 30px;
    }
  }
}
